@import "tailwindcss";

:root {
  --background: white;
  --foreground: #1f1f1f;
  --gray1: #e7e7e7;
  --gray2: #ffffff;
  --inverse: #313131;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray1: var(--gray1);
  --color-gray2: var(--gray2);
  --color-inverse: var(--inverse);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 80px;
}

#works {
  scroll-margin-top: 80px;
}

#philosophy {
  scroll-margin-top: 80px;
}
